.container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px grey,  ;
}

.elForm{
    margin-bottom: 15px;
}