.container {
  width: 450px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  border-radius: 4px;
  margin: 0;
  padding-left: 10px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
}

.inputElement {
  width: 80%;
  height: 100%;
  margin-left: 15px;
  border: 0;
  vertical-align: middle;
}

.inputElement:focus {
  outline: none;
}

.labelForActiveForm {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid gray;
  vertical-align: middle;
}

.btnOnForm {
  display: inline-block;
  width: 40px;
  height: 80%;
  background-color: blue;
  margin-left: auto;
  margin-right: 4px;
  border-radius: 4px;
}
