.spanCheck {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid gray;
  position: absolute;
  top: 3px;
  left: 0;
  &:hover {
    border: 0.5px solid blue;
  }
}

.spanCheckActive {
  background: linear-gradient(
    to right,
    rgba(248, 13, 221, 1),
    rgba(40, 73, 237, 1)
  );
}

.label {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}
