.itemContainer {
  display: flex;
  border-radius: 4px;
  border-bottom: 0.5px solid gray;
  align-items: center;
  background-color: white;
}

.itemDiv {
  cursor: pointer;
  margin-left: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  justify-content: space-between;
}

.itemTextActive {
  color: grey;
  text-decoration: line-through;
}
