.base{
    position: absolute;
    margin: 0;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media screen and (min-width: 768px){
      width: 600px;  
      top: 90px;
    }

    @media screen and (min-width: 1200px){
        width: 700px;
    }
}

