.inputEl {
  width: 100%;
  padding: 10px 12px;
   border: 1px solid var(--input-border-color);
   border-radius: 4px;
   outline: none;
   box-shadow: var(--medium-shadow);

   margin-bottom: 10px;
   &:focus{
    border-color: var(--input-focus-color);
   }
   @media screen and (min-width: 768px) {
    padding: 15px 12px;
    margin-bottom: 10px;
     }

   @media screen and (min-width: 1200px) {
    padding: 15px 10px;
   
   }
}
